:root {
  --main-font: "Montserrat", sans-serif;
  --sub-font: "Roboto Flex", sans-serif;
  --text-font: "Inter", sans-serif;
  --title: 600 54px/60px var(--main-font);
  --title-innovation: 600 48px/52px var(--main-font);
  --text: 600 24px/27px var(--sub-font);
  --sub-text: 600 18px/20px var(--sub-font);
  --sub-title: 700 32px/35px var(--sub-font);
  --header-text: 600 14px/15px var(--sub-font);
  --description: 200 22px/25px var(--sub-font);
  --details: 200 18px/20px var(--sub-font);
  --button: 400 16px/16px var(--sub-font);
  --hero-text: 300 32px/35px var(--text-font);
  --hero-nav: 400 12px/18px var(--text-font);
  --footer-text: 300 17px/24px var(--text-font);
  --title-mob: 500 20px/26px var(--main-font);
  --title-mb: 600 20px/26px var(--main-font);
  --sub-title-mob: 600 22px/26px var(--main-font);
  --sub-title-mb: 600 18px/26px var(--main-font);
  --text-mob: 200 20px/normal var(--main-font);
  --description-mob: 200 14px/15px var(--sub-font);
  --details-mob: 100 13px/16px var(--main-font);
  --footer-text-mb: 300 14px/20px var(--main-font);
}

* {
  font-size: -1;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #191919;
  color: #FFFFFF;
}

.wrapper {
  width: 100%;
}

.container {
  margin: 0 10px;
}
@media (min-width: 991px) {
  .container {
    margin: 0 122px;
  }
}

.header {
  background-color: #020202;
  border-bottom: 1px solid #8DCD43;
  padding: 25px 10px;
  overflow: hidden;
}
@media (min-width: 991px) {
  .header {
    display: flex;
    border-bottom: 1px solid #E4BD34;
    padding: 20px 0px;
    justify-content: space-between;
  }
}
.header__contact {
  display: none;
}
@media (min-width: 991px) {
  .header__contact {
    display: flex;
    gap: 30px;
    align-items: center;
  }
}
.header__contact-text {
  display: none;
}
@media (min-width: 991px) {
  .header__contact-text {
    display: block;
    color: #FFFFFF;
    font: var(--header-text);
  }
}
.header__number {
  display: none;
}
@media (min-width: 991px) {
  .header__number {
    display: block;
    color: #8DCD43;
    font: var(--header-text);
  }
}
.header__container {
  justify-content: space-between;
  display: flex;
  width: 100%;
}
@media (min-width: 991px) {
  .header__container {
    margin: 0;
    width: 100%;
  }
}
.header__container-desctop {
  display: none;
}
@media (min-width: 991px) {
  .header__container-desctop {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 991px) {
  .header__icons {
    display: flex;
    gap: 10px;
  }
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo-img {
  width: 24px;
}
@media (min-width: 991px) {
  .header__logo-img {
    display: none;
  }
}
.header__logo-name-img {
  width: 135px;
}
@media (min-width: 991px) {
  .header__logo-name-img {
    display: none;
  }
}
.header__label {
  color: #FFFFFF;
  width: 25px;
  height: 25px;
  display: block;
  position: relative;
  margin-right: 10px;
}
@media (min-width: 991px) {
  .header__label {
    display: none;
  }
}
.header__nav-line {
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.8s;
}
.header__nav-line:first-child {
  transform: translate(-50%, -6px);
}
.header__nav-line:last-child {
  transform: translate(-50%, 6px);
}
.header__nav-mb {
  display: none;
  position: absolute;
  z-index: 3;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #020202;
  gap: 20px;
}
.header__nav-link {
  color: #FFFFFF;
  text-decoration-line: none;
  position: relative;
  font: var(--description);
}
@media (min-width: 991px) {
  .header__nav-link {
    font: var(--hero-nav);
    letter-spacing: 0.24px;
  }
}
.header__nav-link:hover {
  color: #8DCD43;
}
.header__nav-link:hover::after {
  transform: scaleX(1);
}
.header__nav-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #8DCD43;
  transform-origin: bottom;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.header__nav-input {
  display: none;
}
.header__nav-input:checked ~ .header__nav-mb {
  display: flex;
}
.header__nav-input:checked ~ .header__label .header__nav-line:first-child {
  transform: translate(-40%, 0px) rotate(45deg);
}
.header__nav-input:checked ~ .header__label .header__nav-line:nth-child(2) {
  width: 0;
}
.header__nav-input:checked ~ .header__label .header__nav-line:last-child {
  transform: translate(-45%, 0px) rotate(-45deg);
}

.hero {
  overflow: hidden;
  background-color: #020202;
  padding-top: 60px;
}
@media (min-width: 991px) {
  .hero {
    padding-top: 45px;
  }
}
.hero__logo-nav-desc {
  display: none;
}
@media (min-width: 991px) {
  .hero__logo-nav-desc {
    display: flex;
    padding-bottom: 145px;
    justify-content: space-between;
  }
}
.hero__logo-desc {
  display: none;
}
@media (min-width: 991px) {
  .hero__logo-desc {
    display: flex;
  }
}
.hero__logo-img-desc {
  display: none;
}
@media (min-width: 991px) {
  .hero__logo-img-desc {
    display: flex;
  }
}
.hero__nav-desc {
  display: none;
}
@media (min-width: 991px) {
  .hero__nav-desc {
    display: flex;
    gap: 32px;
  }
}
.hero__logo-name-img-desc {
  display: none;
}
@media (min-width: 991px) {
  .hero__logo-name-img-desc {
    display: flex;
  }
}
@media (min-width: 991px) {
  .hero__main-inform-photo {
    display: flex;
  }
}
.hero__title {
  font: var(--title-mb);
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}
@media (min-width: 991px) {
  .hero__title {
    display: none;
  }
}
.hero__title-desc {
  display: none;
}
@media (min-width: 991px) {
  .hero__title-desc {
    display: block;
    color: #FFFFFF;
    text-transform: uppercase;
    font: var(--title);
    text-align: start;
    padding-bottom: 30px;
    width: 887px;
  }
}
.hero__text {
  font: var(--text-mob);
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 20px;
}
@media (min-width: 991px) {
  .hero__text {
    font: var(--hero-text);
    text-align: start;
    padding-bottom: 60px;
  }
}
.hero__background-images {
  position: relative;
}
.hero__bg {
  position: relative;
  height: 258px;
}
@media (min-width: 991px) {
  .hero__bg {
    top: 70%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 1350px;
    height: 400px;
  }
}
.hero__bg-black {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9402354692) 0%, rgba(0, 0, 0, 0.464044993) 37%, rgba(0, 212, 255, 0) 100%);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 96%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 991px) {
  .hero__bg-black {
    top: 65%;
    left: 25%;
    width: 1350px;
    height: 350px;
  }
}
.hero__dron {
  position: absolute;
  max-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
@media (min-width: 991px) {
  .hero__dron {
    width: 57%;
    max-width: 810px;
    top: 30%;
    left: 33%;
  }
}
@media (min-width: 991px) {
  .hero__buttons {
    padding-bottom: 310px;
  }
}

.button1 {
  border-radius: 4px;
  background: #8DCD43;
  padding: 15px 0;
  width: 100%;
  margin-bottom: 16px;
  border: none;
  letter-spacing: 1px;
  font-size: 15px;
}
@media (min-width: 991px) {
  .button1 {
    padding: 19px 10px;
    margin-bottom: 0px;
    font: var(--button);
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button1:hover {
  transform: scale(1.01);
  transition: all 0.5s;
}

.button2 {
  border-radius: 4px;
  border: 1px solid #8DCD43;
  background: #020202;
  outline: none;
  padding: 15px 0px;
  color: #8DCD43;
  letter-spacing: 1px;
  font-size: 15px;
  width: 100%;
}
@media (min-width: 991px) {
  .button2 {
    padding: 19px 39px;
    width: 250px;
    height: 50px;
    font: var(--button);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button2:hover {
  transform: scale(1.03);
  transition: all 0.5s;
}

@media (min-width: 991px) {
  .buttons {
    display: flex;
    gap: 22px;
  }
}

.innovation {
  overflow: hidden;
  margin-bottom: 90px;
  padding-top: 40px;
}
@media (min-width: 991px) {
  .innovation__container {
    padding-top: 0;
  }
}
@media (min-width: 991px) {
  .innovation__container-info {
    display: grid;
    grid-template-columns: 67% 33%;
  }
}
.innovation__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.innovation__img {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 10px;
}
@media (min-width: 991px) {
  .innovation__img {
    align-items: initial;
    border-radius: 23px;
    margin-right: 26px;
    margin-bottom: 60px;
  }
}
.innovation__title {
  font: var(--text);
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-bottom: 20px;
}
@media (min-width: 991px) {
  .innovation__title {
    font: var(--title);
    text-align: start;
  }
}
.innovation__text {
  font: var(--details-mob);
  text-align: center;
  padding-bottom: 30px;
  color: #F5F5F5;
}
@media (min-width: 991px) {
  .innovation__text {
    font: var(--description);
    text-align: start;
  }
}
.innovation__span {
  font-weight: normal;
}
.innovation__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 991px) {
  .innovation__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}
.innovation__item {
  background-color: #1E1E1E;
  margin-bottom: 10px;
  padding: 25px 14px;
  border-radius: 8px;
}
@media (min-width: 991px) {
  .innovation__item {
    display: flex;
    padding: 50px 40px;
    margin-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.innovation__item-title {
  padding-bottom: 2px;
  color: #FFFFFF;
  font: var(--description-mob);
  padding-bottom: 8px;
}
@media (min-width: 991px) {
  .innovation__item-title {
    font: var(--text);
    padding-bottom: 10px;
  }
}
.innovation__item-text {
  color: #FFFFFF;
  font: var(--details-mob);
  letter-spacing: 0.44px;
}
@media (min-width: 991px) {
  .innovation__item-text {
    font: var(--description);
    padding-bottom: 0;
  }
}
.innovation__img-item {
  width: 90px;
  padding-bottom: 15px;
}
@media (min-width: 991px) {
  .innovation__img-item {
    width: 187px;
    height: 80px;
    padding-bottom: 20px;
  }
}

.xag {
  overflow: hidden;
}
.xag__container {
  background-color: #1E1E1E;
  margin: 0 30px;
  border-radius: 8px;
  padding: 12px;
  position: relative;
  padding-top: 150px;
  margin-bottom: 60px;
}
@media (min-width: 991px) {
  .xag__container {
    margin: 0 122px 201px 122px;
    padding: 0 158px 60px 158px;
  }
}
@media (min-width: 991px) {
  .xag__information {
    display: flex;
  }
}
@media (min-width: 991px) {
  .xag__container-info {
    margin-right: 260px;
  }
}
@media (min-width: 991px) {
  .xag__img-container {
    display: flex;
    order: 2;
  }
}
.xag__img {
  max-width: 200px;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 991px) {
  .xag__img {
    max-width: 560px;
    position: static;
    top: auto;
    left: auto;
    transform: none;
    margin-top: 50px;
  }
}
.xag__title {
  text-align: center;
  font: var(--sub-title-mob);
  color: #FFFFFF;
  padding-bottom: 20px;
}
@media (min-width: 991px) {
  .xag__title {
    text-align: start;
    padding-top: 142px;
    font: var(--title);
  }
}
.xag__text {
  text-align: center;
  color: #FFFFFF;
  font: var(--details-mob);
  padding-bottom: 20px;
}
@media (min-width: 991px) {
  .xag__text {
    text-align: start;
    font: var(--description);
    padding-bottom: 40px;
  }
}
@media (min-width: 991px) {
  .xag__buttons {
    padding-bottom: 75px;
  }
}
.xag__button2 {
  background: #1E1E1E;
}
@media (min-width: 991px) {
  .xag__button2 {
    padding: 0px 16px;
  }
}
.xag__items {
  margin: 0 8px;
  margin-top: 16px;
  gap: 10px;
}
.xag__item {
  background-color: #191919;
  border-radius: 4px;
  padding: 10px;
}
@media (min-width: 991px) {
  .xag__item {
    padding: 20px;
  }
}
.xag__item-title {
  color: #E4BD34;
  padding-bottom: 8px;
}
@media (min-width: 991px) {
  .xag__item-title {
    font: var(--sub-text);
  }
}
.xag__item-text {
  color: #FFFFFF;
  font: var(--details-mob);
}
@media (min-width: 991px) {
  .xag__item-text {
    font: var(--details);
    color: #E3E3E3;
  }
}
.xag__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 991px) {
  .xag__items {
    display: grid;
    grid-template-columns: 325px 240px 240px 253px 240px;
    gap: 20px;
  }
}

.advantages__container {
  padding-bottom: 60px;
}
@media (min-width: 991px) {
  .advantages__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 180px;
  }
}
.advantages__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 991px) {
  .advantages__img-container {
    align-items: self-start;
  }
}
.advantages__img {
  width: 70%;
  padding-bottom: 30px;
}
@media (min-width: 991px) {
  .advantages__img {
    width: 95%;
    position: sticky;
    top: 20px;
  }
}
.advantages__title {
  font: var(--sub-text);
  text-align: center;
  padding-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
@media (min-width: 991px) {
  .advantages__title {
    font: var(--title-innovation);
  }
}
.advantages__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 991px) {
  .advantages__items {
    gap: 30px;
  }
}
.advantages__item {
  background-color: #1E1E1E;
  border-radius: 4px;
  padding: 30px 16px;
  text-align: center;
  border-radius: 8px;
}
@media (min-width: 991px) {
  .advantages__item {
    width: 548px;
    padding: 30px 40px;
  }
}
.advantages__img-item {
  width: 68px;
  height: 68px;
  padding-bottom: 10px;
}
@media (min-width: 991px) {
  .advantages__img-item {
    display: flex;
    justify-content: start;
    padding-bottom: 16px;
  }
}
.advantages__item-title {
  font: var(--sub-text-mob);
  padding-bottom: 8px;
}
@media (min-width: 991px) {
  .advantages__item-title {
    font: var(--text);
    text-align: start;
    letter-spacing: 0.48px;
    padding-bottom: 16px;
  }
}
.advantages__item-text {
  font: var(--details-mob);
  padding-bottom: 8px;
}
@media (min-width: 991px) {
  .advantages__item-text {
    font: var(--description);
    text-align: start;
    letter-spacing: 0.44px;
  }
}

.foreveryone {
  overflow: hidden;
}
.foreveryone__container {
  padding-bottom: 60px;
}
@media (min-width: 991px) {
  .foreveryone__container {
    padding-bottom: 160px;
  }
}
.foreveryone__img {
  width: 100%;
  border-radius: 6px;
  padding-bottom: 20px;
}
@media (min-width: 991px) {
  .foreveryone__img {
    padding: 0 144px 40px 144px;
    border-radius: 19px;
  }
}
.foreveryone__title {
  font: var(--sub-title-mob);
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}
@media (min-width: 991px) {
  .foreveryone__title {
    font: var(--title);
  }
}
.foreveryone__span {
  font-weight: normal;
}
.foreveryone__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 991px) {
  .foreveryone__items {
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 144px;
  }
}
.foreveryone__item {
  background-color: #1E1E1E;
  border-radius: 4px;
  padding: 30px 16px;
  text-align: center;
  border-radius: 8px;
}
@media (min-width: 991px) {
  .foreveryone__item {
    display: flex;
    gap: 20px;
    padding: 50px 30px;
    border-radius: 8px;
  }
}
.foreveryone__img-item {
  width: 130px;
  height: 130px;
  padding-bottom: 10px;
}
@media (min-width: 991px) {
  .foreveryone__img-item {
    width: 176px;
    height: 176px;
  }
}
.foreveryone__item-title {
  font: var(--sub-text-mob);
  color: #E4BD34;
  padding-bottom: 10px;
  letter-spacing: 0.8px;
  font-weight: 600;
}
@media (min-width: 991px) {
  .foreveryone__item-title {
    font: var(--text);
    text-align: start;
  }
}
.foreveryone__item-text {
  font: var(--details-mob);
  line-height: 14px;
}
@media (min-width: 991px) {
  .foreveryone__item-text {
    font: var(--description);
    letter-spacing: 0.44px;
    text-align: start;
  }
}

.services {
  overflow: hidden;
}
.services__container {
  padding-bottom: 60px;
}
@media (min-width: 991px) {
  .services__container {
    padding-bottom: 160px;
  }
}
@media (min-width: 991px) {
  .services__info-container {
    align-self: flex-end;
    padding-right: 130px;
  }
}
.services__items {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.services__item {
  display: flex;
  flex-direction: column;
}
@media (min-width: 991px) {
  .services__item {
    display: flex;
    flex-direction: row;
  }
}
.services__img {
  width: 100%;
  padding-bottom: 20px;
}
@media (min-width: 991px) {
  .services__img {
    padding-right: 164px;
    width: 950px;
    padding-bottom: 0px;
  }
}
.services__title {
  font: var(--sub-title-mob);
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 40px;
}
@media (min-width: 991px) {
  .services__title {
    font: var(--title-innovation);
    text-align: start;
  }
}
.services__item-title {
  font: var(--sub-title-mob);
  padding-bottom: 20px;
}
@media (min-width: 991px) {
  .services__item-title {
    font: var(--sub-title);
  }
}
.services__item-text {
  font: var(--details-mob);
  line-height: 14px;
  margin-bottom: 25px;
}
@media (min-width: 991px) {
  .services__item-text {
    font: var(--description);
    padding-bottom: 40px;
    margin-bottom: 0;
  }
}
@media (min-width: 991px) {
  .services__item-buttons {
    display: flex;
    gap: 22px;
  }
}
.services__button2 {
  background-color: #191919;
}

.reviews__title {
  font: var(--sub-title-mob);
  text-align: start;
  text-transform: uppercase;
  padding-bottom: 20px;
}
@media (min-width: 991px) {
  .reviews__title {
    font: var(--title-innovation);
    padding-bottom: 78px;
  }
}
.reviews__item {
  background-color: #1E1E1E;
  border-radius: 8px;
  padding: 10px;
}
@media (min-width: 991px) {
  .reviews__item {
    padding: 50px 75px;
  }
}
.reviews__item--2, .reviews__item--3 {
  display: none;
}
@media (min-width: 991px) {
  .reviews__item--2, .reviews__item--3 {
    display: block;
  }
}
.reviews__items {
  padding-bottom: 60px;
}
@media (min-width: 991px) {
  .reviews__items {
    display: flex;
    gap: 22px;
    padding-bottom: 177px;
  }
}
.reviews__text {
  font: var(--details-mob);
  padding-bottom: 25px;
}
@media (min-width: 991px) {
  .reviews__text {
    font: var(--description);
    padding-bottom: 30px;
  }
}
.reviews__person-container {
  display: flex;
}
.reviews__portret {
  padding-right: 18px;
}
.reviews__name {
  font: var(--sub-title-mb);
}
.reviews__job {
  font: var(--details-mob);
}

.application {
  overflow: hidden;
  margin-bottom: 140px;
}
@media (min-width: 991px) {
  .application__container {
    display: grid;
    grid-template-columns: 60% 30%;
    gap: 140px;
    padding-bottom: 160px;
  }
}
.application__title {
  font: var(--sub-title-mob);
  text-align: center;
  padding-bottom: 20px;
}
@media (min-width: 991px) {
  .application__title {
    font: var(--title-innovation);
    text-align: start;
    max-width: 770px;
  }
}
.application__text {
  font: var(--details-mob);
  text-align: center;
  padding-bottom: 25px;
}
@media (min-width: 991px) {
  .application__text {
    font: var(--description);
    padding-bottom: 30px;
    text-align: start;
  }
}
.application__img {
  width: 100%;
  border-radius: 8px;
  padding-bottom: 10px;
}
@media (min-width: 991px) {
  .application__img {
    padding-bottom: 0px;
  }
}
.application__form-container {
  align-self: flex-end;
}
.application__input-container {
  display: flex;
  flex-direction: column;
}
.application__input-container--1 {
  padding-bottom: 30px;
}
@media (min-width: 991px) {
  .application__input-container--1 {
    padding-bottom: 50px;
  }
}
.application__input-container--2 {
  padding-bottom: 30px;
}
@media (min-width: 991px) {
  .application__input-container--2 {
    padding-bottom: 60px;
  }
}
.application__label {
  font: var(--title-mb);
  letter-spacing: 0.4px;
}
.application__input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.6px solid #8DCD43;
  font: var(--text-mob);
}
.application__input:focus {
  border-bottom: 0.7px solid #556B2F;
  color: #FFFFFF;
  font: var(--text-mob);
}
.application__button1 {
  width: 100%;
}

.footer {
  overflow: hidden;
  background-color: #020202;
}
.footer__container-main-info {
  border-bottom: 1px solid #DBFF00;
}
.footer__logo {
  display: flex;
  padding: 40px 0;
  justify-content: center;
}
@media (min-width: 991px) {
  .footer__logo {
    padding-top: 60px;
    padding-bottom: 45px;
  }
}
.footer__logo-img {
  width: 30px;
}
@media (min-width: 991px) {
  .footer__logo-img {
    width: 45px;
    height: 25px;
  }
}
.footer__logo-name-img {
  width: 200px;
}
@media (min-width: 991px) {
  .footer__logo-name-img {
    width: 260px;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
@media (min-width: 991px) {
  .footer__contact {
    display: flex;
    flex-direction: row;
    gap: 29px;
  }
}
.footer__number-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
@media (min-width: 991px) {
  .footer__number-container {
    gap: 29px;
  }
}
.footer__nav-link {
  color: #FFFFFF;
  text-decoration-line: none;
  font: var(--detail);
}
@media (min-width: 991px) {
  .footer__nav-link {
    font: var(--hero-nav);
    letter-spacing: 0.24px;
  }
}
.footer__nav-desc {
  display: none;
}
@media (min-width: 991px) {
  .footer__nav-desc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 71px;
    padding-bottom: 51px;
  }
}
.footer__contact-text {
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer__number {
  color: #8DCD43;
  font: var(--description-mob);
}
@media (min-width: 991px) {
  .footer__number {
    font: var(--header-text);
  }
}
.footer__icons {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  gap: 10px;
}
.footer__info-text {
  display: flex;
  justify-content: center;
  font: var(--footer-text-mb);
  color: #E3E3E3;
  padding: 80px 40px;
}
@media (min-width: 991px) {
  .footer__info-text {
    font: var(--footer-text);
    color: #B3B3B3;
  }
}

/*# sourceMappingURL=style.css.map */
