
$color-black: #020202;
$color-grey: #191919;
$color-light-gray:#1E1E1E;
$color-green: #8DCD43;
$color-white: #FFFFFF;
$color-yellow:#E4BD34;

// font-family: 'Inter', sans-serif; 300, 400
// font-family: 'Montserrat', sans-serif; 200 300 500 600 
// font-family: 'Roboto Flex', sans-serif;  200, 600
:root{
    --main-font: 'Montserrat', sans-serif;
    --sub-font: 'Roboto Flex', sans-serif;
    --text-font: 'Inter', sans-serif;

    --title: 600 54px/60px var(--main-font);
    --text: 600 24px/normal var(--sub-font);
    --sub-text: 600 18px/20px var(--sub-font);
    --header-text: 600 14px/15px var(--sub-font);
    --description: 200 22px/25px var( --sub-font);
    --details: 200 18px/20px var( --sub-font);


    // Mobile
    --title-mob: 500 20px/26px var(--main-font);
    --sub-title-mob: 600 22px/26px var(--main-font);
    --text-mob: 200 20px/normal var(--main-font);
    --description-mob: 200 14px/15px var( --sub-font);
    --details-mob: 100 13px/16px var(--main-font);
    
}

$desctop: 1100px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: $color-grey;
}



.input+.checked {}

.wrapper{
    overflow: hidden;
    width: 100%;
}
.container{
    margin: 0 10px;
    
}

.header{
background-color: $color-black;
border-bottom: 1px solid $color-green;
padding: 25px 10px;

// display: flex;
    // &__contact{
    //     display: none;
    //     gap: 30px;
    //     padding-right: 1100px;
    // }
    // &__contact-text{
    //     color: $color-white ;
    //     font: var(--header-text);
    // }
    // &__number{
    //     color: $color-green ; 
    //     font: var(--header-text);
    // }
    // &__container{
    //     display: flex;
    //     align-items: center;
    //     padding: 20px 120px;
    // }
    &__container{
        display: flex;
        justify-content: space-between;
    }
    &__logo-img{
        width: 24px;
    }
    &__logo-name-img{
        width: 135px;
    }
    &__label{
        
        color: #FFFFFF;
        width: 25px;
        height: 25px;
        display: block;
        position: relative;
        @media (min-width:$desctop) {
            display: none;
        }
    }
    &__nav-line{
        width: 100%;
        height: 1px;
        background-color: $color-white;
        position: absolute;
        top:50%;
        left:50% ;
        transform: translate(-50%, -50%);
        transition: all 0.8s;
        &:first-child{
            transform: translate(-50%, -6px);
        }
        &:last-child{
            transform: translate(-50%, 6px);
        }
    }
    &__nav-mb{
     display:none;
     position: absolute;
     z-index: 3;
     flex-direction: column;
     align-items: center;
     padding-top: 150px;
    
     top: 50px;
     left: 0;
     width: 100%;
     height: 100vh;
     background-color: $color-black;
     gap: 20px;
    }

   &__nav-link{
    color: $color-white;
    text-decoration-line: none;
    font: var(--description);
   }
   &__nav-input{
    display: none;
    &:checked~.header__nav-mb{
        display: flex;
    }

    &:checked~.header__label .header__nav-line{
        
        &:first-child{
            transform: translate(-40%, 0px) rotate(45deg);
        }
        &:nth-child(2){
            width: 0;
        }
        &:last-child{
            transform: translate(-50%, 0px) rotate(-45deg);
        }
    }
   }
}

.hero{
    background-color: $color-black;
    padding-top: 60px;
    // &__navigation{
    //     display: none;
    // }
    &__title{
        font: var(--title-mob);
        color: $color-white;
        text-transform: uppercase;
        font-style: italic;
        text-align: center;
        padding-bottom: 20px;
    }
    &__text{
        font: var(--text-mob);
        color: $color-white;
        font-style: italic;
        text-align: center;
        padding-bottom: 20px;
    }
    
    &__background-images{
        position: relative;
    }
    &__bg{
        position: relative;
        height: 258px;
    }
    &__bg-black{
        background: linear-gradient(90deg, rgba(0,0,0,0.9402354691876751) 0%, rgba(0,0,0,0.4640449929971989) 37%, rgba(0,212,255,0) 100%);
        position: absolute;
        z-index:1;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__dron{
        position: absolute;
        max-width: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

    }
}
.button1{
    border-radius: 4px;
    background: $color-green;
    padding: 15px 30px;
    width: 100%;
    margin-bottom: 16px;
    border: none;
    letter-spacing: 1px;
    font-size: 15px;
    
  }
.button2{
      border-radius: 4px;
      border: 1px solid $color-green;
      background: $color-black;
      outline: none;
      padding:15px 30px;
      color: $color-green;
      letter-spacing: 1px;
      font-size: 15px;
      width: 100%;
  }
.innovation{
    margin-bottom: 90px;
    padding-top: 40px;
    &__container{
        position: relative;
        padding-top: 180px;
    }
    &__img{
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        max-width: 355px;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    &__title{
        font: var(--text);
        text-align: center;
        color: $color-white;
        text-transform: uppercase;
        padding-bottom: 20px;
    }
    &__text{
        font: var(--details-mob);
        text-align: center;
        padding-bottom: 30px;
        color: #F5F5F5;
    }
    &__span{
        font-weight: normal;
    }
    &__item{
        background-color: $color-light-gray ;
        margin-bottom: 10px;
        padding: 25px 14px;
        border-radius: 8px;
    }
    &__item-title{
        padding-bottom: 20px;
        color: $color-white;
        font: var(--description-mob);
    }
    &__item-text{
    padding-bottom: 20px;
    color: $color-white;
    font: var(--details-mob);
    letter-spacing: 0.44px;
    }
    &__img-item{
        max-width: 90px;
        padding-bottom: 10px;
    }
}

.xag{
    &__container{
        background-color: $color-light-gray;
        margin: 0 30px;
        border-radius: 8px;
        padding: 12px;
        position: relative;
        padding-top: 150px;
    }


  
   &__img{
    max-width: 200px;
   position: absolute;
   top: 80px;
   left: 50%;
   transform: translate(-50%, -50%);
   }
   &__title{
    text-align: center;
    font: var(--sub-title-mob);
    color: $color-white;
    padding-bottom: 20px;
   }
   &__text{
    text-align: center;
    color: $color-white;
    font: var(--details-mob);
    padding-bottom: 20px;
   }
    &__button2{
        background: $color-light-gray;
    }
    &__items{
        margin: 0 8px;
        margin-top: 16px;
        gap:10px ;
    }
    &__item{
    background-color: $color-grey;
    border-radius: 4px;
    padding: 10px;
    }
    &__item-title{
        color:$color-yellow;
        padding-bottom: 8px;
    }
    &__item-text{
        color:$color-white;
        font: var( --details-mob);

    }
    &__items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
    }

